* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 700;
    font-family: '', sans-serif;
    background-color: #fff;
} 
  
.container {
    padding: 0 15px;
    width: 1200px;
    margin: auto;
}
.style-none{
    list-style-type: none;
}
.text-none{
    text-decoration: none;
}
.header-inner{
    padding-top: 40px;
}
.nav-item:not(:last-child){
    margin-right: 71px;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #aaaaab;
}
.nav-link.active{
    color: #56597A;
}
.nav-btn{
    margin-left: auto;
    border: none;
    cursor: pointer;
}

#hero-section{
    background-size: 882px 775px;
    background-image: url('../images/hero-back-1.svg');
    background-position: right top;
    background-repeat: no-repeat;
}
.hero-inner{
    padding-top: 110px;
}
.hero-img{
    content: '';
    display: block;
    width: 532px;
    height: 532px;
    background-image: url('../images/hero-img.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
.hero-hr-box{
    display: flex;
}
.hero-hr{
    display: block;
    width: 36px;
    height: 3px;
    background: #f78cb6;
    border: none;
    justify-content: end;
    margin-bottom: auto;
}
.hero-span-text{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #f78cb6;
    margin-bottom: 15px;
}
.hero-title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #56597A;
    width: 650px;
    margin-bottom: 31px;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
}
.hero-text{
    margin-bottom: 42px;
}
.hero-link{
    background: #F78BB6;
    border-radius: 4px;
    padding: 17px 22px;
    color: #fff;
    width: 216px;
}
.hero-arrow{
    margin-left: 19px;
}

.service-inner{
    padding-top: 129px;
}
.serv-title{
    text-align: center;
    margin-bottom: 6px;
}
.serv-big-text{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 72px;
    color: #56597A;
    text-align: center;
    margin-bottom: 58px;
}
.serv-item{
    background: #FFF1F9;
    border-radius: 8px;
    width: 270px;
    padding: 53px 23px 23px 23px;
}
.serv-item:nth-child(3){
    background-color: #F78CB6;
    color: #fff;
    height: 344px;
}
.list-serv-title{
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    color: #56597A;
    width: 108px;
    text-align: center;
}
.serv-text{
    font-size: 16px;
    line-height: 24px;
    width: 224px;
    margin: 0 auto;
}
.brand:before{
    content: '';
    display: block;
    background-repeat: no-repeat;
    margin-bottom: 42px;
    text-align: center;
}
.design::before{   
    width: 50px;
    height: 50px;
    background-image: url('../images/design.svg');

}
.develop::before{
    width: 50px;
    height: 50px;
    background-image: url('../images/develop.svg');
}
.brand-title::before{
    width: 48px;
    height: 48px;
    background-image: url('../images/brand.svg');
}
.illustration::before{
    width: 44px;
    height: 44px;
    background-image: url('../images/illustration.svg');
}
.brand-title{
    color: #fff;
}
.brand-text{
    margin-bottom: 10px;
    color: #fff;
}
.link{
    border-radius: 4px;
    background-color: #F78BB6;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 17px 14px 14px 14px;
    width: 194px;
}




.design-item{
    padding-top: 194px;
}
.design-item:nth-child(2n){
    flex-direction: row-reverse;
}
.back-img{
    content: '';
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.design-img{
    width: 570px;
    height: 472px;
    background-image: url('../images/design-img.png');
    margin-right: 79px;
}
.teamwork-img{
    width: 570px;
    height: 472px;
    background-image: url('../images/teamwork.svg');
    margin-left: 80px;
}
.testimonial-img{
    display: block;
    width: 416px;
    height: 419px;
    background-image: url('../images/testimonial.svg');
    margin-right: 138px;
}
.design-title{
    margin-bottom: 15px;
}
.design-title-text{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #56597A;
    width: 506px;
    margin-bottom: 24px;
}
.design-text{
    width: 500px;
    margin-bottom: 40px;
}
.testi-name{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #56597A;
    margin-bottom: 5px;
}
.test-job{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #ABABAB;
}



.social-inner{
    padding-top: 200px;
}
.social-list{
    margin-bottom: 140px;
}
.ferrari{
    width: 157px;
    height: 43px;
    background-image: url('../images/ferrari.svg');
}
.microsoft{
    width: 195px;
    height: 56px;
    background-image: url('../images/microsoft-gray.svg');
}
.nat-geo{
    width: 143px;
    height: 43px;
    background-image: url('../images/nat-geo.svg');
}
.deliotto{
    width: 178px;
    height: 51px;
    background-image: url('../images/deloitte-gray.svg');
}
.google{
    width: 139px;
    height: 46px;
    background-image: url('../images/google.png');
}
.social-item:not(:last-child){
    margin-right: 80px;
}
.subs-title-text{
    width: 570px;
    text-align: center;
    margin-bottom: 18px;
    
}
.subs-text{
    width: 635px;
    text-align: center;
    margin-bottom: 20px;
}
.subs-info{
    padding-left: 33px;
}

.subs-img{   
    width: 250px;
    height: 250px;
    background-image: url('../images/mail-subs.svg');
    background-position: left bottom;
}
.input-label{
    background: #fff;
    border-radius: 4px;
    padding: 28px 13px 22px 29px;
    width: 706px;
    height: 82px;
    box-shadow: 15px 15px 15px 1px rgba(169, 180, 189, 0.411);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 160px;
}
.email{
    border: none;
    outline: none;
    margin-right: 237px;
}

.input-box{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 160px;
}
.btn{
    padding: 14px 13px 14px 0;
    width: 178px;
    height: 54px;
    border: none;
    align-items: center;
}
.subs-content{
    margin-left: auto;
}
.mail-img{
    align-items: center;
    margin-right: 16px;
}
