* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 700;
    font-family: '', sans-serif;
    background-color: #fff;
} 
  
.container {
    padding: 0 15px;
    width: 1200px;
    margin: auto;
}
.style-none{
    list-style-type: none;
}
.text-none{
    text-decoration: none;
}
.header-inner{
    padding-top: 40px;
}
.nav-item:not(:last-child){
    margin-right: 71px;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #aaaaab;
}
.nav-link.active{
    color: #56597A;
}
.nav-btn{
    margin-left: auto;
    border: none;
    cursor: pointer;
}

#hero-section{
    background-size: 882px 775px;
    background-image: url('../images/hero-back-1.svg');
    background-position: right top;
    background-repeat: no-repeat;
}
.hero-inner{
    padding-top: 110px;
}
.hero-img{
    content: '';
    display: block;
    width: 532px;
    height: 532px;
    background-image: url('../images/hero-img.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
.hero-hr-box{
    display: flex;
}
.hero-hr{
    display: block;
    width: 36px;
    height: 3px;
    background: #f78cb6;
    border: none;
    justify-content: end;
    margin-bottom: auto;
}
.hero-span-text{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #f78cb6;
    margin-bottom: 15px;
}
.hero-title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #56597A;
    width: 650px;
    margin-bottom: 31px;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
}
.hero-text{
    margin-bottom: 42px;
}
.hero-link{
    background: #F78BB6;
    border-radius: 4px;
    padding: 17px 22px;
    color: #fff;
}
.hero-arrow{
    margin-left: 19px;
}